.app-header{
    background-color: var(--super-contrast-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--menu-font)*3);
}
.app-header>.app-logo{
    margin-left: var(--menu-font);
}
@media (min-width: 820px){
    .app-header{
        justify-content: space-around;
    }
}