.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--menu-font)*3);
}
.app-logo > .app{
    color: var(--base-color);
    font-size: calc(var(--menu-font)*0.6);
    text-transform: uppercase;
}
.app-logo >.logo{
    width: calc(var(--menu-font)*0.8);
    height: calc(var(--menu-font)*0.8);
    margin-right: 6px;
}   